.credit__sect {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.385714px;
  color: white;
  background: #031226;
  a {
    color: #0275d8;
  }
}

@media (max-width: 1366px) {
  .credit__sect {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .credit__sect {
    font-size: 1.4rem;
  }
}

.footer__sect {
  min-height: 20vh;
  background: rgb(3, 18, 38);
  background: linear-gradient(180deg, #031226 0% #022649 100%);
  padding-bottom: 5rem;
  .row {
    justify-content: center;
    align-items: center;
    .col-3 {
      display: flex;
      justify-content: center;
      align-items: center;
      .socials ul {
        li {
          padding: 0rem 1rem;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }
    }
  }
  a {
    font-size: 3.6rem;
  }
}
