@font-face {
  font-family: Interstate;
  src: url(/app/addons/Interstate-RegularCondensed.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Interstate;
}

body {
  background: rgb(3, 18, 38);
  background: linear-gradient(180deg, #031226 0% #022649 100%);
}

a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: #0275d8;
  }
}

li {
  list-style: none;
}

.row {
  display: flex;
}

.col-2 {
  flex: 50%;
}

.col-3 {
  flex: 33.3%;
}

.col-4 {
  flex: 33.3%;
}

.underline {
  text-decoration: underline;
}

.glow {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #ffffff7f;
}
